html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p{
	margin: 0;
	padding: 0;
	border: none;
	font-weight: normal;
}

.testing-text {
	position: fixed;
	color: red;
	z-index: 50;
}

html {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

body {
	width: 100%;

}

header {
	perspective: 200px;
	perspective-origin: bottom;
	position: relative;
	z-index: 10;
	text-align: center;
	height: 400px;
	width: 100%;
	background: #333;
	box-shadow: 0 0 20px #000;
	overflow: hidden;

	@media screen and (max-width: 800px) {
    	height: 300px;
  	}
  	@media screen and (max-width: 600px) {
    	height: 250px;
  	}

	#myVideo {
		position: absolute;
		top: -20px;
		left: 0;
	  	width: 100%; 
	  	min-height: 100%;
	}

	.header-graphic {
		position: relative;
		width: 100%;
		height: 400px;
		font-family: "Dancing Script";

		h1 {
			padding-top: 100px;
			color: #fff;
			font-size: 4.5em;
			text-shadow: 1px 1px 5px #222;

			@media screen and (max-width: 800px) {
		    	font-size: 3em;
		    	padding-top: 80px;
		  	}
		  	@media screen and (max-width: 600px) {
		    	font-size: 2em;
		    	padding-top: 52px;
		  	}
		}

		h2 {
			color: #fff;
			font-size: 2.5em;
			text-shadow: 1px 1px 5px #222;

			@media screen and (max-width: 800px) {
		    	font-size: 2em;
		  	}
		}
	}

	ul.nav {
		transform-style: preserve-3d;
		transform-origin: 50% 100%;
		width: 100%;
		//height: 80px;
		background: linear-gradient(0deg, rgba(12, 117, 161, 0.9), rgba(0,0,0,0.4));
		box-shadow: 0 0 5px #222, inset 0 0 50px #222;
		overflow: hidden;
		position: absolute;
		bottom: 0;

		@media screen and (max-width: 600px) {
	    	background: #222;
	  	}

		li {
			font-size: 1.7em;
			font-family: "Dancing Script";
			color: #fff;
			display: inline-block;
			width: 20.01%;
			height: 42px;
			padding-top: 10px;
			margin-left: -4px;
			-webkit-transition: 0.8s; /* Safari */
  			transition: 0.8s;
  			vertical-align: middle;
  			text-shadow: 1px 1px 2px #000;

  			@media screen and (max-width: 800px) {
		    	font-size: 1.3em;
		    	padding-top: 15px;
		    	height: 50px;
		  	}
		  	@media screen and (max-width: 600px) {
		    	font-size: 1.3em;
		    	padding-top: 3px;
		    	width: 33.5%;
		    	height: 30px;
		    	border-bottom: 1px solid #333;
		  	}

			hr {
				border: 0;
				width: 60%;
				border-radius: 2px;
				height: 2px;
				background: #97CAE8;
				-webkit-transition: 0.8s; /* Safari */
  				transition: 0.8s;
  				opacity: 1;
  				display: block;

  				@media screen and (max-width: 800px) {
			    	height: 1px;
			    	display: block;
			  	}
			  	@media screen and (max-width: 600px) {
			    	display: none;
			  	}
			}

			&:hover {
				background: rgba(151,202,232, 0.5);
				cursor: pointer;
				color: #444;
				text-shadow: 1px 1px 2px #555;
				font-size: 1.8em;
				box-shadow: inset 0 0 50px #2A75A1;

				@media screen and (max-width: 800px) {
			    	font-size: 1.5em;
			  	}

				hr {
					opacity: 0;
				}
			}
		}
	}


}

main {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #eee;

	.main-hr {
		width: 70%;
		margin-bottom: 30px;
		height: 1px;
		background: #ccc;
		border: none;
		border-radius: 2px;
	}
}

footer {
	position: relative;
	z-index: 10;
	box-shadow: 0 0 20px #000;
	width: 100%;
	padding: 40px 0;
	background: #222;
	background: linear-gradient(0deg, rgba(12, 117, 161, 0.9), rgba(0,0,0,0.4));
	text-align: center;

	.countdown {
		color: #fff;
		font-size: 1.1em;
	}
}


