.groom-background-color {
  background: linear-gradient(180deg, #d8c7af, #eee 80%, #88b1ea 120%); }
  @media screen and (max-width: 750px) {
    .groom-background-color {
      background: linear-gradient(180deg, #aaa, #eee); } }

.bride-background-color {
  background: linear-gradient(90deg, #DCCEF9, #eee); }
  @media screen and (max-width: 750px) {
    .bride-background-color {
      background: linear-gradient(180deg, #9573da, #eee); } }

.bride-content h3 {
  color: #333; }
.bride-content .palms-silhouette {
  width: 100%;
  height: 400px;
  background: url(../media/palms_purp1250.png);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 800px) {
    .bride-content .palms-silhouette {
      background: url(../media/palms_purp800.png);
      background-size: 100% 100%; } }

.groom-content h3 {
  color: #333; }
.groom-content .palms-silhouette {
  width: 100%;
  height: 400px;
  background: url(../media/palms_brown1250.png);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 800px) {
    .groom-content .palms-silhouette {
      background: url(../media/palms_brown800.png);
      background-size: 100% 100%; } }

.party-content {
  width: 100%;
  height: auto;
  margin: 0 auto; }
  .party-content .party-left-wrap {
    width: 40%;
    height: auto;
    float: left; }
    @media screen and (max-width: 750px) {
      .party-content .party-left-wrap {
        width: 100%;
        float: none; } }
  .party-content .party-left {
    position: relative;
    float: left;
    width: 400px;
    height: auto;
    padding: 30px 0 50px 0;
    float: right; }
    @media screen and (max-width: 950px) {
      .party-content .party-left {
        width: 100%;
        padding: 30px 0 50px 0; } }
    @media screen and (max-width: 750px) {
      .party-content .party-left {
        width: 100%;
        float: none;
        padding: 20px 0 20px 0; } }
    .party-content .party-left .color-graphic-left {
      position: absolute;
      width: 800px;
      height: 100%;
      top: -0px;
      left: -0px;
      z-index: 1; }
    .party-content .party-left h3 {
      font-family: "Dancing Script";
      text-align: center;
      font-size: 3em;
      margin: 0 0 30px 0;
      position: relative;
      z-index: 2;
      text-shadow: 1px 1px 2px #555; }
    .party-content .party-left .bride-picture {
      background: url(../media/jamesan.jpg);
      background-size: 100% 100%; }
    .party-content .party-left .groom-picture {
      background: url(../media/chris.jpg);
      background-size: 100% 100%; }
    .party-content .party-left .bride-picture, .party-content .party-left .groom-picture {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 5px solid #222;
      overflow: hidden;
      z-index: 2;
      margin: 0 auto;
      box-shadow: 1px 1px 10px #000, inset 1px 1px 3px #222; }
      @media screen and (max-width: 950px) {
        .party-content .party-left .bride-picture, .party-content .party-left .groom-picture {
          height: 250px;
          width: 250px; } }
      @media screen and (max-width: 750px) {
        .party-content .party-left .bride-picture, .party-content .party-left .groom-picture {
          width: 300px;
          height: 300px; } }
      .party-content .party-left .bride-picture p, .party-content .party-left .groom-picture p {
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #222;
        background: rgba(0, 0, 0, 0.7);
        position: relative;
        top: 250px;
        padding: 10px 20px 20px 20px; }
        @media screen and (max-width: 950px) {
          .party-content .party-left .bride-picture p, .party-content .party-left .groom-picture p {
            top: 200px; } }
        @media screen and (max-width: 750px) {
          .party-content .party-left .bride-picture p, .party-content .party-left .groom-picture p {
            top: 250px; } }
  .party-content .party-right-wrap {
    width: 60%;
    height: auto;
    float: right; }
    @media screen and (max-width: 750px) {
      .party-content .party-right-wrap {
        width: 100%;
        float: none; } }
  .party-content .party-right {
    position: relative;
    float: left;
    width: 700px;
    height: auto;
    padding: 30px 0 50px 0; }
    @media screen and (max-width: 1150px) {
      .party-content .party-right {
        width: 95%;
        padding: 30px 0 50px 0; } }
    @media screen and (max-width: 750px) {
      .party-content .party-right {
        width: 100%;
        float: none;
        padding: 0px 0 30px 0; } }
    .party-content .party-right h3 {
      position: relative;
      z-index: 10;
      text-align: center;
      font-family: "Dancing Script";
      font-size: 3em;
      margin: 0 0 30px 0;
      text-shadow: 1px 1px 2px #555; }
    .party-content .party-right ul {
      text-align: center; }
      .party-content .party-right ul li {
        text-align: center;
        display: inline-block;
        width: 32%; }
        .party-content .party-right ul li .profile {
          position: relative;
          z-index: 10;
          overflow: hidden;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 5px solid #333;
          margin: 0 auto;
          box-shadow: 1px 1px 10px #000, inset 1px 1px 3px #333; }
          @media screen and (max-width: 1150px) {
            .party-content .party-right ul li .profile {
              height: 120px;
              width: 120px; } }
          @media screen and (max-width: 450px) {
            .party-content .party-right ul li .profile {
              height: 100px;
              width: 100px; } }
        .party-content .party-right ul li .rachel {
          background: url(../media/rachel.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .samantha {
          background: url(../media/samantha.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .sarah {
          background: url(../media/sarah.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .christine {
          background: url(../media/christine.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .jena {
          background: url(../media/jena.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .brian {
          background: url(../media/brian.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .tristan {
          background: url(../media/tristan.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .jeff {
          background: url(../media/jeff.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .lee {
          background: url(../media/lee.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li .ian {
          background: url(../media/ian.jpg);
          background-size: 100% 100%; }
        .party-content .party-right ul li p {
          color: #fff;
          text-shadow: 1px 1px 1px #222;
          background: rgba(0, 0, 0, 0.7);
          position: relative;
          top: 115px;
          font-size: 0.7em;
          padding: 3px 20px 20px 20px; }
          @media screen and (max-width: 1150px) {
            .party-content .party-right ul li p {
              top: 85px;
              font-size: 0.7em; } }
          @media screen and (max-width: 450px) {
            .party-content .party-right ul li p {
              top: 65px;
              font-size: 0.7em; } }

/*# sourceMappingURL=party_style.css.map */
