.about-content {
  position: relative;
  width: 800px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px; }
  @media screen and (max-width: 1000px) {
    .about-content {
      width: 90%; } }
  @media screen and (max-width: 600px) {
    .about-content {
      width: 95%; } }
  .about-content #jssor_1 {
    position: relative;
    width: 600px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto; }
  .about-content #slides {
    position: absolute;
    width: 600px;
    height: 250px;
    overflow: hidden; }
    .about-content #slides #slide-pic {
      border-radius: 20px; }
  .about-content .venue-wrap {
    margin: 50px 0 70px 0; }
    .about-content .venue-wrap h3 {
      color: #444;
      text-shadow: 1px 1px 1px #999;
      text-align: center;
      font-size: 3em;
      font-family: "Dancing Script"; }
    .about-content .venue-wrap h4 {
      font-size: 1.5em;
      text-align: center;
      color: #222;
      text-shadow: 1px 1px 1px #999; }
    .about-content .venue-wrap p {
      font-size: 1.2em;
      color: #444;
      text-shadow: 1px 1px 1px #999; }
      .about-content .venue-wrap p img {
        width: 110px;
        height: 110px;
        float: left;
        border-radius: 3px; }
  .about-content .additional-info {
    margin: 50px 0; }
    .about-content .additional-info .dress-code {
      width: 45%;
      float: left; }
      @media screen and (max-width: 800px) {
        .about-content .additional-info .dress-code {
          width: 90%;
          float: none;
          text-align: center;
          margin: auto; } }
    .about-content .additional-info .times {
      width: 45%;
      float: right;
      margin: 0; }
      @media screen and (max-width: 800px) {
        .about-content .additional-info .times {
          width: 90%;
          float: none;
          text-align: center;
          margin: 50px auto; } }
    .about-content .additional-info h4 {
      font-size: 1.5em;
      text-align: center;
      color: #222;
      text-shadow: 1px 1px 1px #999; }
    .about-content .additional-info p, .about-content .additional-info li {
      font-size: 1.1em;
      color: #444;
      text-shadow: 1px 1px 1px #999; }
    .about-content .additional-info li {
      margin-bottom: 5px; }
  .about-content hr {
    width: 70%; }

.jssorb032 {
  position: absolute; }

.jssorb032 .i {
  position: absolute;
  cursor: pointer; }

.jssorb032 .i .b {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.25; }

.jssorb032 .i:hover .b {
  fill: #000;
  fill-opacity: .6;
  stroke: #fff;
  stroke-opacity: .35; }

.jssorb032 .iav .b {
  fill: #000;
  fill-opacity: 1;
  stroke: #fff;
  stroke-opacity: .35; }

.jssorb032 .i.idn {
  opacity: .3; }

.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer; }

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 700;
  stroke-miterlimit: 10; }

.jssora051:hover {
  opacity: .8; }

.jssora051.jssora051dn {
  opacity: .5; }

.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none; }

.clear {
  clear: both; }

/*# sourceMappingURL=about_style.css.map */
